@import "tailwindcss";

.brand-gradient {
   @apply bg-pink-900 bg-linear-to-br from-[#100505] to-[#ff7a2a]
}

.glass-float-effect {
    @apply rounded-2xl border border-white/20
    bg-white/5
}

.glass-float-effect-right {
    @apply rounded-r-2xl border border-white/20
    bg-white/5
}

.social-button {
    display: flex;
    gap: 0.81rem;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0.7rem 0;
    border-radius: 0.31rem;
    align-items: center;
    justify-content: center;
    background: #F9F8FF;
    border: 1px solid #D5CBFF;
    transition: 0.3s ease;
    margin-top: 0.5rem;
}

.social-button:hover {
    background: #f1eff9;
}

.social-button .social-icon {
    width: 23px;
    height: 25px;
}

.separator {
    position: relative;
    margin: 1.5rem 0;
    text-align: center;
    background: opacue;
}
